<footer class="clearfix">

  <a class="logo" href="#">
    <h1>Mad koffee</h1>
  </a>

  <ul class="social-nav">
    <li class="facebook">
      <a href="#"></a>
    </li>
    <li class="twitter">
      <a href="#"></a>
    </li>
    <li class="instagram">
      <a href="#"></a>
    </li>
    <li class="youtube">
      <a href="#"></a>
    </li>
    <li class="tumblr">
      <a href="#"></a>
    </li>
  </ul>


  <ul class="footer-nav">

    <li><a href="#">Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Shows</a></li>
  </ul>

  <h3>
    <span>About Mad koffee</span>
  </h3>
  <p>Dear soul, if you were not friends with the vast nothing inside, why would you always be casting you net into it, and waiting so patiently?</p>

  <h3>
    <span>Contact Us</span>
  </h3>
  <p>123 Dummy Street
    <br> Dhaka, Bangladesh
  </p>

</footer>
