<aside id="sidebar" class="col-sm-4">


  <div class="widget random-post">
    <a href="#">
      <img src="assets/images/cup.png">
    </a>

  </div>

  <div class="widget daily-quote">

    <h3 class="title">daily quote</h3>
    <div class="quote">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="name">- Mr. Lorem Ipsum</p>
    </div>

  </div>


  <div class="widget become-storyteller">

    <a class="btn round" href="#">Become a storyteller</a>

  </div>


  <div class="widget tags">

    <ul class="tags">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum</a></li>
      <li><a href="#">dummy text</a></li>
      <li><a href="#">dolor</a></li>
      <li><a href="#">text</a></li>
      <li><a href="#">ipsum</a></li>
      <li><a href="#">dolor is</a></li>
      <li><a href="#">dummy</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">text industry</a></li>
      <li><a href="#">ipsum</a></li>
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">dolor</a></li>
      <li><a href="#">text</a></li>
      <li><a href="#">dummy</a></li>
    </ul>

  </div>

   <div class="widget subscribe">
    <form class="subscribe-form">
      <input class="email" type="email" name="email" placeholder="Your e-mail here" required="required"></input>
      <input type="submit" value="Subscribe"></input>
    </form>
  </div>
</aside>
